.grecaptcha-badge { visibility: hidden; }

.info{
    color: #ccc;
    font-size: .6em;
    padding: 0;
    text-align: justify;
    /* text-justify: distribute; */
}

.info a,
.info b{
    color: #ff821b;
}