@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Varela Round', 'Roboto', sans-serif;
  text-decoration: None;
}

.max-width{
  max-width: 1140px;
  margin: 0 auto;
}

html, html:focus-within {
  scroll-behavior: smooth;
}